<!doctype html public "i ♥ socket.io">
<html lang="pl">
  <head>
    <meta charset="utf-8">

    <script src="http://localhost:8080/socket.io/socket.io.js"></script>
    <script>
      var socket = io.connect('http://localhost:8080');
      socket.on('news', function (data) {
        console.log('data received from server: ', data);
        socket.emit('other server event', { my: 'client data' });
      });
      socket.emit('other server event', { my: 'more client data...' });
    </script>

    <title><%= title %></title>
  </head>

  <body>
    <%- body %>
  </body>
</html>
